<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVxoWomzlPZ-Xc5yM8tqnv1F83nqpWb50</string>
	<key>GCM_SENDER_ID</key>
	<string>1037628514702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.visitor-tracker</string>
	<key>PROJECT_ID</key>
	<string>visitor-tracker-e074d</string>
	<key>STORAGE_BUCKET</key>
	<string>visitor-tracker-e074d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037628514702:ios:5f5821f26a42b839fe04df</string>
</dict>
</plist>